body {
    max-width: 2000;
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
    background-image: url(https://images5.alphacoders.com/110/thumb-1920-1104367.jpg);
    background-size: cover; 
}   
.header {
    padding: 0px 20px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    padding: 20px 20px 20px 120px;
    background-color: rgb(43, 43, 43);
    border-bottom: 2px solid red;
}
.nav-links {
    list-style:none;
    padding: 0;
}
.nav-links li {
    display: inline-block;
}
li,a,button {
    text-decoration: none;
    color: white;
}
.nav-links li {
    padding: 0px 20px;
}
.nav-links a{
    transition: all 0.3s ease 0s;
}
.nav-links a:hover {
    background-color: red;
    padding:10px 10px;
    margin:-10px;
}
.logo {
    margin-top: -20px;
    background-color: rgb(71, 71, 71);
    height: 300px;
    width:250px; 
    border: 2px solid red;
    border-top: none;
}
.btns {
    display: flex;
    align-items: center;
}
.btn {
    padding:10px 25px;
    background-color: rgb(255, 0, 0);
    margin: 0px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.btn:hover {
    opacity: 0.8;
}
.btn:active {
    border: 2px solid rgb(255, 255, 255);
    padding: 8px 23px;
}
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}
.title {
    text-decoration: underline;
    text-decoration-color: red;
    margin: 0px;
    color: white;
    font-size: 150px;
    margin-bottom: -100px;
}
.button {
    border-radius: 5px;
    border: 5px solid white;
    background-color: rgba(30,30,30,0.4);
    padding: 20px 70px;
    margin: 0px 30px;
    cursor: pointer;
}
.button:hover {
    background-color: rgba(30,30,30,0.7);
}
.button:active {
    border-color: red;
}
.bottom-header {
    height: 74px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
    top: 160.4px;
    background-color: rgb(59, 59, 59);
}
.logo2 {
    position: relative;
    bottom: 10px;
    width: 250px;
    height: 50px;
    cursor: pointer;
}
.maker {
    display: flex;
    align-items: center;
    margin: 0px;
}
.maker p,h4{
    margin: 0px;
    padding-right: 5px;
}
.maker a {
    color: gray;
    transition: color  0.3s ease 0s;
}
.maker a:hover {
    color: red;
}
.nav-list2 {
    text-decoration: underline;
    display: flex;
    list-style: none;
}
.nav-list2 a {
    transition: color 0.3s ease 0s;
}
.nav-list2 a:hover {
    color: red;
}
.nav-list2 li {
    display: inline-block;
    padding: 0px 10px;
}
.nav-list2 li:nth-child(4) {
    padding: 0px 20px 0px 10px;
}