
.wrapper {
    width: 100%;
    height: 100%;
    border: 1px solid black;
}
header {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 15%;
    border-bottom: 1px solid black;
    transition: all 0.3s;
    background-color: blue;
    z-index: 4;
}
header:hover {
    height: 30%;
    background-color: aqua;
}
.wrapper div {
    position: absolute;
    top: 15%;
    bottom: 15%;
    flex-direction: row;
    display: flex;
    height: 70%;
    width: 100%;
}
.wrapper div nav {
    width: 10%;
    min-width: 10%;
    transition: all 0.3s;
}
.wrapper div nav:hover {
    width: 40%;
    background-color: gray;
}
.wrapper div article {
    background-color: yellow;
    border: 1px solid black;
    height: 100%;
    width: 78%;
    z-index: 3;
    transition: all 0.3s;
}
.wrapper div article:hover {
    border: 1px solid black;
    font-size: 50;
    z-index: 4;
    height:124% ;
    width: 88%;
    margin-left: -4%;
    margin-right: -4%;
    margin-top: -4%;
    margin-bottom: -4%;
    background-color: green;
}
.wrapper div aside {
    width: 10%;
    min-width: 10%;
    transition: all 0.3s;
}
.wrapper div aside:hover {
    width: 40%;
    background-color: black;
}
footer {
    z-index: 3;
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 15%;
    border-top: 1px solid black;
    transition: all 0.3s;
    background-color: red;
}
footer:hover {
    background-color: rgb(255, 0, 255);
    height: 30%;
    border: 1px solid black;
}
#main {
    border: 1px solid black;
    border-collapse: collapse;
    position: relative;
}