body {
    margin: 0;
    width: auto;
    background-image: url(https://static.vecteezy.com/system/resources/previews/005/212/575/non_2x/blue-night-starry-background-horizontal-design-template-dark-night-star-background-illustration-vector.jpg);
}
.div1 {
    justify-content: end;
    display: flex;
    background-color: rgb(61, 129, 231);
    height: 100px;
    text-align: center;
    line-height: 2;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 25px;
}
.title {
    line-height: 0.8;
    margin-left: auto;
    margin-right: auto;
}
.div2 {
    text-overflow: 0px;
    text-align: center;
    height: 100%;
    width: 200px;
    position: absolute;
    left: -180px;
    background-color: rgb(48, 95, 182);
    transition: all 0.4s;
}
.div2:hover {
    position: absolute;
    left:0px
}
.div3 {
    display: flex;
    justify-content: space-around;
}
.pfp1 {
    display: flex;
    justify-content: end;
    height: 50px;
    border-radius: 25px;
    margin: 5px;
}
.pfp {
    margin-top: 20px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    height: 150px;
    border-radius: 75px;
    cursor: pointer;
}
.name {
    font-size: 12px;
    margin:2px;
}
.username {
    margin-top: 5px;
    font-family: 'Montserrat', sans-serif;
    color:white;
    font-size: 17px;
}
.login {
    color: rgb(21, 21, 80);
    margin: 0px;
}
.your-profile {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    border: none;
    border-radius: 5px;
    background-color: rgb(48, 95, 182);
    color: white;
    cursor: pointer;
    margin-top: 20px;
    font: 'Montserrat', sans-serif;
    text-decoration: none;
    font-size: 20px;
    padding-left: 45px;
    padding-right: 45px;
    padding-top: 7px;
    padding-bottom: 7px;
}
.your-profile:hover {
    background-color: rgb(81, 128, 216);
}
.link {
    text-decoration: none;
}